* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  row-gap: 20px;
  background: url("https://images.pexels.com/photos/1133957/pexels-photo-1133957.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: white;
  position: relative;
}

#time {
  color: rgb(191, 18, 244);
  font-size: 3rem;
  position: absolute;
  top: 10px;
  right: 10px;
}

#sneha {
  color: rgb(86, 195, 86);
  font-size: 4rem;
}
